@media (max-width: 1023px) {
  .niceText {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    line-height: 1.58;
    color: rgba(0, 0, 0, .8);
    letter-spacing: -.003em;
  }

  .bodyText {
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    sx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

  }

  .footer {
    float: right;
    margin-right: 20px;
    font: 11px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
  }

  .moto {
    background-color: #fff;
    font: normal normal bold 80px/1.1em raleway, sans-serif;
    padding-right: 10px;
    color: #222;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 2.14em;
  }

  .photoContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 0;
  }

  .aboutPhoto {
    width: 100%;
    /*height: 685px;*/
    border: 0;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .moto {
    background-color: #fff;
    font: normal normal bold 80px/1em raleway, sans-serif;
    font-size: 2.14em;
    padding-right: 10px;
    color: #222;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .photoContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
}

body {
  font-family: 15px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
  min-width: 600px;
  max-width: 1200px;
}

@media (min-width: 1024px) {
  .niceText {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.58;
    color: rgba(0, 0, 0, .8);
    letter-spacing: -.003em;
  }

  .container {
    width: 980px;
    margin: 0 auto;
  }

  .photoContainer {
    position: relative;
    margin-top: 60px;
    margin-left: 200px;
  }

  .moto {
    background-color: #fff;
    font: normal normal bold 80px/1.1em raleway, sans-serif;
    padding-right: 10px;
    color: #222;
    position: absolute;
    top: 300px;
    left: -265px;
  }

  .footer {
    margin-left: 200px;
    font: 11px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
  }

  .bodyText {
    width: 350px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    sx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

  }

}

.aboutPhoto {
  width: 100%;
  border: 0;
  object-fit: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
