<div class="container fadeIn">
  <div>
    <app-menu [active]="'music'"></app-menu>
  </div>

  <div class="body">
    <div class="photoContainer">
      <img class="aboutPhoto" [src]="photoUrl"/>

      <div class="text">
        <span class="moto">MUSIC</span>
      </div>
    </div>
    <div class="music">
      <div id="player" class="aplayer"></div>
    </div>
    <div class="youtube-videos" *ngFor="let video of videos">
      <iframe class="video-embed" [src]="video" frameborder="0"
              allowfullscreen></iframe>
    </div>
    <div class="footer">
      © 2018 by MARINA STANEVA
    </div>

  </div>

</div>
