body {
  font-family: 15px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
  min-width: 600px;
  max-width: 100%;
}

.container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

/*MOBILE VERSION*/
@media (max-width: 1023px) {
  .mainPhoto {
    width: 100%;
    border: 0;
    object-fit: cover;
    background-repeat: no-repeat;

  }


  .footer {
    font: 11px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
    margin-left: 200px;
  }

  .moto {
    background-color: #fff;
    font: normal normal bold 80px/1.1em raleway, sans-serif;
    padding-right: 10px;
    color: #222;
    position: absolute;
    top: 50px;
    left: 0;
    font-size:2.14em;
  }

  .name {
    height: 42px;
    font-size:1em;
    letter-spacing: 0.3em;
    font-family: "Marzo-W00-Regular" !important;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    background: white;

  }

  .photoContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 0;
  }

  .footer {
    font: 11px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
    margin-left: 0;
  }

}

@media (min-width: 1024px) {
  .name {
    height: 72px;
    letter-spacing: 0.3em;
    font-family: "Marzo-W00-Regular", serif !important;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: -293px;
    width: auto;
    background: white;

  }

  .photoContainer {
    position: relative;
    margin-top: 60px;
    margin-left: 200px;
  }

  .mainPhoto {
    width: 911px;
    height: 685px;
    border: 0;
    object-fit: cover;
    background-repeat: no-repeat;

  }

  .footer {
    font: 11px/1.1em "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
    margin-left: 200px;
  }

  .moto {
    background-color: #fff;
    font: normal normal bold 80px/1.1em raleway, sans-serif;
    padding-right: 10px;
    color: #222;
    position: absolute;
    top: 300px;
    left: -298px;
  }
}

@font-face {
  font-family: "Marzo-W00-Regular";
  src: url("assets/fonts/1e6ec96c95301fa73aa1d026f161a269.eot");
  src: url("assets/fonts/1e6ec96c95301fa73aa1d026f161a269.woff") format("woff");
  src: url("assets/fonts/1e6ec96c95301fa73aa1d026f161a269.woff2") format("woff2");
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
