<div>
  <div class="container fadeIn">
    <div>
      <app-menu [active]="'contact'"></app-menu>
    </div>
    <div class="body">
      <div class="contactMoto">CONTACT</div>

      <div class="contact-block">
        <h6 class="active thin">Social Networks</h6>
        <div>
          <h6 class="black-font">
            <a href="{{youtube}}" target="_blank"><i class="fa fa-youtube-play social-network-icon" aria-hidden="true"></i></a>
            <a href="{{twitter}}" target="_blank"><i class="fa fa-twitter social-network-icon" aria-hidden="true"></i></a>
          </h6>
        </div>
        <h6 class="active thin">Email Address</h6>
        <div>
          <h6 class="black-font">
            <span class="contact-info"> {{email}} </span>
          </h6>
        </div>


        <h6 class="active thin">Phone</h6>
        <div>
          <span class="contact-info">{{phone}}</span>
        </div>

        <h6 class="active thin">Location</h6>
        <div>
          <span class="contact-info">{{location}}</span>
        </div>

        <div class="footer">
          © 2018 by MARINA STANEVA
        </div>

      </div>
    </div>

  </div>


</div>
